
.about {
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
  position: relative;
}



.about-title {
  max-width: 57rem;
}

.about-detail{
  color: var(--primary-color-light);
}

.about-maintext {
  padding: 2rem;
  font-size: 1.6rem;
  color: var(--white);
}

.about-work {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
}